html {
    font-family: 'ubuntu', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.header {
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3cbd9;
}


.header-right {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #858e8a;
}


.header-tel {
    font-weight: 500;
    font-size: 18px;
    color: #2c332f;
    transition: color 0.2s;
}


.header-tel:hover {
    color: #049fec;
}


.header-text {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    color: #858e8a;
    margin-bottom: 8px;
}


.footer {
    height: 328px;
    margin-top: auto;
    padding: 60px 0 40px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
    position: fixed;
    bottom: 0;
    width: 100%;
}


.footer-logo {
    display: inline-block;
    margin-bottom: 40px;
}


footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
    padding-bottom: 40px;
    border-bottom: 1px solid #d3cbd9;
}


footer ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    text-decoration: none;
    transition: color 0.2s;
}


footer ul li a:hover {
    color: #049fec;
}


.copyright {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
    margin-top: 40px;
}