.header {
    height: 90px;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
}


@media(width > 992px) {
    .header__container {
        gap: clamp(18px, -6.625rem + 12vw, 50px);
    }
}


.header__menu {
    display: flex;
    align-items: center;
}


@media(width <=992px) {
    .header__menu {
        position: fixed;
        top: 0;
        left: -100vw;
        bottom: 0;
        background: var(--bg-color);
        flex-direction: column;
        align-items: start;
        text-align: start;
        z-index: var(--layer-2);
        min-width: 300px;
        padding-top: 150px;
        padding-left: 15px;
        opacity: 0;
        visibility: hidden;
        transition: left var(--transition-time), opacity var(--transition-time), visibility var(--transition-time);
        gap: 20px;
    }


    .header__menu--open {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}


@media(width > 992px) {
    .header__menu {
        gap: clamp(15px, -6.25rem + 10vw, 30px);
    }
}


.menu__link {
    transition: color var(--transition-time);
}


@media(any-hover: hover) {
    .menu__link:hover {
        color: var(--hover-color);
    }
}


.header__button {
    padding-left: 10px;
}


@media(width > 992px) {
    .header__button {
        padding-left: 10px;
        flex-grow: 1;

    }
}


@media(width <=992px) {
    .header__button {
        padding-right: clamp(36px, -5.25rem + 20.83vw, 76px);
    }
}


.header__basket {
    background-color: var(--bg-color);
}


.basket{
    stroke: var(--main-color);
    transition: stroke var(--transition-time);
}


.basket:hover{
    stroke: var(--hover-color);
   
}


.header__logo {
    background-color: var(--bg-color);
}


@media(width > 992px) {
    .burger {
        flex-grow: 1;
        text-align: end;
    }
}


.menu__link {
    font-family: var(--second-family);
    font-weight: 400;
    color: var(--main-color);
}


@media(width > 992px) {
    .menu__link {
        font-size: 20px;
    }
}



@media(width <=1300px) {
    .menu__link {
        font-size: 16px;
    }
}