:root {
  /* font-family */
  --font-family: "Open sans", sans-serif;


  /* second-family */
  --second-family: NAMU pro;


  /* colors */
  --main-color: #fff;
  --accent-color: #1d75ef;
  --bg-color: #000000;
  --hover-color: #178bff;
  --disable-color: ;
  --shadow-color: ;


  /* container */
  --container-width: 1920px;
  --container-padding: 15px;


/* transitions */
  --transition-time: 0.3s ;

  
  /* layers */
  --layer-negative: -1;
  --layer-1: 1;
  --layer-2: 2; 
  --layer-3: 3; 
}