html{
    font-family: 'ubuntu', sans-serif;
     font-family: 'oswald', sans-serif;
    box-sizing: border-box;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


article{
    padding-top: 80px;
}


h1{
font-family: 'oswald', sans-serif;
max-width: 900px;
 font-weight: 600;
font-size: 48px;
line-height: 115%;
text-transform: uppercase;
color: #2c332f; 
margin-bottom: 40px;
}


.text-1{
    font-family: 'ubuntu', sans-serif;
font-weight: 400;
Font-size: 16px;
line-height: 130%;
color: #535755; 
margin-bottom: 20px;
}


.text-2{
font-family: 'ubuntu', sans-serif;
font-weight: 400;
Font-size: 16px;
line-height: 130%;
color: #535755; 
margin-bottom: 80px;
}


.img-1{
  max-width: 1220px;
  margin-bottom: 80px;
}


h3{
     font-family: oswald, sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}


text-3{
    font-family: 'ubuntu', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    TEXT-transform: uppercase;
    color: #2c332f;
    margin-bottom: 20px;
}


li{
    font-family: 'ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755; 
    margin-bottom: 12px;
    padding-left: 8px;
    margin-left: -22px;
}


ul{
    margin-bottom: 80px;
}


.h3{
    font-family: 'oswald', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}


video{
   margin-bottom: 40px;
}


.text-4{
    font-family: 'ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755; 
    margin-bottom: 20px;
    margin-bottom: 107px;
}




